html {
  font-size: 14px;
}

.error{
    color:#a50f0f;
}
body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
}


input[type=button], input[type=submit], input[type=reset], .ticket{
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover,.ticket:hover  {
  background-color: #39ace7;
  text-decoration: none;
  color: white;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active , .ticket:active {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.filter, .pdf-list, .delete, .ticket-admin {
    padding: 15px 15px !important;
}

.filter, .yes-ans {
    background-color: #41cb47 !important;
}

.filter:hover, .yes-ans:hover  {
  background-color: #3fbd44 !important;
}

.pdf-list{
    background-color: #6856ed !important;
}
.pdf-list:hover{
    background-color: #6151d8 !important;
}

.delete {
    background-color: #ee4848 !important;
}
.delete:hover{
    background-color: #d74141 !important;
}

.ticket-admin, .back-ans {
    background-color: #ead046 !important;
}

.ticket-admin:hover, .back-ans:hover {
    background-color: #cfb83c !important;
}

input[type=text], input[type=email],  input[type=date], input[type=datetime-local]{
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus,  input[type=email]:focus, input[type=date]:focus, input[type=datetime-local]:focus{
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

input[type=text]:placeholder, input[type=email]:placeholder, input[type=date]:placeholder, input[type=datetime-local]:placeholder {
  color: #cccccc;
}

.filter-field {
   width: auto !important;
   padding: 10px 5px !important;
}

#logout {
    position: relative;
    margin-left: auto;
}

#logout-btn{
    padding: 15px 30px;
    margin: auto;
}

#dropLocation, #dropPlace {
    height: 60px;
    width: -webkit-fill-available;
    margin: 15px 32px;
}

.main {
    margin: 0 0 20px 0px;
}

.reservation {
    align-items: unset !important;
    flex-direction: row !important;
}

.about-image-div, .about-text-div{
    margin: 10px;
    display: inline-block;
}
.about-text-div{
    padding: 30px;
    background: aliceblue;
}

.about-image {
    position: relative;
    float: left;
    max-width: 100%;
}

.about-main {
    margin:30px;
    text-align: justify!important;
    display: flex;
    width: auto !important;
    border-radius: initial !important;
    max-width: 100%!important;
}

.contact-info {
    padding: 30px;
    background: aliceblue;
}

.contact-ul {
    font-size:15px;
}

.contact-div {
    display: inline-flex;
    background: aliceblue;
    text-align: justify !important;
    min-width: 100%;
}

.contact-image {
    margin: 100px;
}

.reservation-result {
    text-align: initial !important;
    padding: 20px !important;
}

.reservation-result-btn{
    margin: 15px 1px;
}

table {
  table-layout: fixed;
  width: 100%;
  margin: 10px 0;
  border-collapse: collapse;
  border: 1px solid #e5e5e5;
}

thead th:nth-child(1) {
  width: 7.5%;
}

thead th:nth-child(2) {
  width: 7.5%;
}

thead th:nth-child(3) {
  width: 10%;
}

thead th:nth-child(4) {
  width: 10%;
}
#location-settings{
    width: 30% !important;
}
thead th:nth-child(5) {
  width: 10%;
}

thead th:nth-child(6) {
  width: 10%;
}

thead th:nth-child(7) {
  width: 10%;
}

thead th:nth-child(8) {
  width: 10%;
}
thead th:nth-child(9) {
  width: 5%;
}
thead th:nth-child(10) {
  width: 25%;
}
th, td {
  padding: 20px;
  border: 1px solid #e5e5e5;
}

a {
    text-decoration: none !important;
}

.location-image {
max-width: -webkit-fill-available;
max-height: 290px;
}