<!DOCTYPE html>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <title>Рады Вас видеть!</title>
</head>
<body>
<h1 th:inline="text">Приветствуем, [[${#authentication.getPrincipal().getUsername()}]] админ!</h1>
<div>
    <a th:href="@{/reservation-list-admin}" class="btn btn-default">Перейти к списку бронирования</a>
    <form th:action="@{/logout}" method="post">
        <input type="submit" class="btn btn-default" value="Выйти из системы"/>
    </form>
</div>

</body>
</html>