<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Редактирование локации</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <link type="text/css" href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet" />
    <link type="text/css" href="../static/css/login.css" th:href="@{/css/login.css}" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm bg-light">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/index-admin">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contacts">Контакты</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about">О нас</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/reservation-list-admin}">Все бронирования</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/location-list-admin}">Все расположения</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/location}">Добавить расположение</a>
            </li>
        </ul>
        <div id="logout">
            <form action="/logout" method="post">
                <input type="submit" value="Выйти из системы" id="logout-btn">
            </form>
        </div>
    </nav>
</header>
<script
        th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js}"></script>
<script th:inline="javascript">

    </script>

<div class="wrapper fadeInDown reservation">
    <div id="formContent">
        <div class="fadeIn first">
            <h1>Редактирование места</h1>
        </div>
        <form th:action="@{/place-edit}" th:object="${place}" method="POST" id = "reservationForm" enctype="multipart/form-data">
            <input th:field="*{id}" type="hidden"/>
            <div class="fadeIn second">
                <input th:field="*{name}" type="text" placeholder="Название"/>
                <p class="error" th:each="error: ${#fields.errors('name')}"
                   th:text="${error}">Validation error</p>
            </div>
            <div class="fadeIn second">
                <div>
                    <div style="display: inline-block; vertical-align: middle; margin: 0 10px;"> Для электромобилей: </div>
                    <input class="fadeIn second" type="checkbox"  style="display: inline-block; vertical-align: middle;" th:field="*{forElectroCars}" id="forElectroCars"/>
                <p class="error" th:each="error : ${#fields.errors('forElectroCars')}"
                   th:text="${error}">Validation error</p>
            </div>
            <input type="submit" class="ticket fadeIn fourth" value="Редактировать место" />
        </form>
        <div>
            <div>
                <a class="back-ans ticket fadeIn fourth main" href="/index-admin" >На главную</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>