<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Бронирование места</title>
</head>
<body>
    <h1>Бронирование места</h1>
    <form action="/" object="${reservation}" method="POST" enctype="utf8">
        <div>
            <label th:text="#{label.reservation.carNumber}">Номер автомобиля</label>
            <input th:field="*{carNumber}"/>
            <p th:each="error: ${#fields.errors('carNumber')}"
               th:text="${error}">Validation error</p>
        </div>
        <div>
            <label th:text="#{label.reservation.startDateTime}">Время начала бронирования</label>
            <input type="datetime-local" th:field="*{startDateTime}"/>
            <p th:each="error : ${#fields.errors('startDateTime')}"
               th:text="${error}">Validation error</p>
        </div>
        <div>
            <label th:text="#{label.reservation.endDateTime}">Время окончания бронирования</label>
            <input type="datetime-local" th:field="*{endDateTime}"/>
            <p th:each="error : ${#fields.errors('endDateTime')}"
               th:text="${error}">Validation error</p>
        </div>
        <div>
            <label th:text="#{label.reservation.location}">Расположение</label>
            <input th:field="*{location}"/>
            <p th:each="error : ${#fields.errors('location')}"
               th:text="${error}">Validation error</p>
        </div>
        <button type="submit" th:text="#{label.form.submit}">Забронировать место</button>
    </form>
</body>
</html>