<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"/>
    <title>Список бронирования</title>
</head>
<body>
<h1 th:inline="text">Список забронированных мест</h1>
<div>
    <form th:action="@{/logout}" method="post">
        <input type="submit" class="btn btn-default" value="Выйти из системы"/>
    </form>
</div>

<div>
    <table>
        <thead>
        <tr>
            <th> Номер автомобиля </th>
            <th> Дата и время начала бронирования </th>
            <th> Дата и время окончания бронирования </th>
            <th> Расположение </th>
            <th> Место </th>
            <th> Управление </th>
        </tr>
        </thead>
        <tbody>
        <tr th:if="${reservations.empty}">
            <td colspan="2"> Пока не сделано ни одного бронирования </td>
        </tr>
        <tr th:each="reservation : ${reservations}">
            <td><span th:text="${reservation.getStartDateTime()}"> StartDateTime </span></td>
            <td><span th:text="${reservation.getEndDateTime()}"> EndDateTime </span></td>
            <td><span th:text="${reservation.getLocation().getAddress()}"> Location </span></td>
            <td><span th:text="${reservation.getPlace().getName()}"> Place </span></td>
            <td><span> <a th:href=@{/reservation-remove?{reservationId}(reservationId=${reservation.getId()})} class="btn btn-default">Удалить бронирование </a>
                        <a th:href=@{/pdf/{reservationId}(reservationId=${reservation.getId()})} class="btn btn-default">Талон в pdf </a>
            </span></td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>