<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Забронировано!</title>
</head>
<body>
    <h1>Ваше место успешно забронировано!</h1>
    <form action="/reservation/reservationResult" object="${reservation}" method="GET" enctype="utf8">
        <div>
            Данные о водителе:
            <div>
                <label>Имя: </label>
                <label>[[ ${user.getFirstName()} ]]</label>
            </div>
            <div>
                <label>Фамилия: </label>
                <label>[[ ${user.getLastName()} ]]</label>
            </div>
        </div>
        <div>
            <label>Номер автомобиля: </label>
            <label>[[ ${reservation.getCarNumber()} ]]</label>
        </div>
        <div>
            <label>Время начала бронирования: </label>
            <label>[[ ${reservation.getStartDateTime()} ]]</label>
        </div>
        <div>
            <label>Время окончания бронирования: </label>
            <label>[[ ${reservation.getEndDateTime()} ]]</label>
        </div>
        <div>
            <label>Расположение: </label>
            <label>[[ ${reservation.getLocation().getAddress()} ]]</label>
        </div>
        <div>
            <label>Место: </label>
            <label>[[ ${reservation.getPlace().getName()} ]]</label>
        </div>
    </form>
    <form th:action="@{/pdf}"  method="get">
        <input type="hidden" th:name="reservationId" th:value = "${reservationId}">
        <input type="submit" value="Получить талон в pdf"/>
    </form>
</body>
</html>