<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Забронировано!</title>
</head>
<body>
    <h1>Ваше место успешно забронировано!</h1>
<!--    <form action="/" object="${reservation}" method="GET" enctype="utf8">-->
<!--        <div>-->
<!--            <label>Номер автомобиля</label>-->
<!--            <input th:field="*{carNumber}"/>-->
<!--            <p th:each="error: ${#fields.errors('carNumber')}"-->
<!--               th:text="${error}">Validation error</p>-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>Время начала бронирования</label>-->
<!--            <input type="datetime-local" th:field="*{startDateTime}"/>-->
<!--            <p th:each="error : ${#fields.errors('startDateTime')}"-->
<!--               th:text="${error}">Validation error</p>-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>Время окончания бронирования</label>-->
<!--            <input type="datetime-local" th:field="*{endDateTime}"/>-->
<!--            <p th:each="error : ${#fields.errors('endDateTime')}"-->
<!--               th:text="${error}">Validation error</p>-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>Расположение</label>-->
<!--            <input th:field="*{location}"/>-->
<!--            <p th:each="error : ${#fields.errors('location')}"-->
<!--               th:text="${error}">Validation error</p>-->
<!--        </div>-->
<!--        <div>-->
<!--            <label>Место</label>-->
<!--            <input th:field="*{place}"/>-->
<!--            <p th:each="error : ${#fields.errors('place')}"-->
<!--               th:text="${error}">Validation error</p>-->
<!--        </div>-->
<!--    </form>-->
</body>
</html>